<div class="card">
    <div class="card-body">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">RECORDS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort By
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <table class="table table-bordered table-striped table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>S.no</th>
                    <th>Emp Id</th>
                    <th>Emp Name</th>
                    <th>Project Id</th>
                    <th>Project Name</th>
                    <th>Hours</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Raised</th>
                    <th>Closed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Clark</td>
                    <td>Kent</td>
                    <td>893243</td>
                    <td>clarkkent@mail.com</td>
                    <td>20hr</td>
                    <td>Accepted</td>
                    <td>Chennai</td>
                    <td>05/07/2023</td>
                    <td>05/07/2023</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>893255</td>
                    <td>peterparker@mail.com</td>
                    <td>13hr</td>
                    <td>Accepted</td>
                    <td>Mumbai</td>
                    <td>07/07/2023</td>
                    <td>07/07/2023</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>John</td>
                    <td>Carter</td>
                    <td>893245</td>
                    <td>johncarter@mail.com</td>
                    <td>10hr</td>
                    <td>Denied</td>
                    <td>Noida</td>
                    <td>03/07/2023</td>
                    <td>03/07/2023</td>
                </tr>       
                <tr>
                    <td>4</td>
                    <td>Clark</td>
                    <td>Kent</td>
                    <td>893243</td>
                    <td>clarkkent@mail.com</td>
                    <td>20hr</td>
                    <td>Accepted</td>
                    <td>Chennai</td>
                    <td>05/07/2023</td>
                    <td>05/07/2023</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Peter</td>
                    <td>Parker</td>
                    <td>893255</td>
                    <td>peterparker@mail.com</td>
                    <td>13hr</td>
                    <td>Accepted</td>
                    <td>Mumbai</td>
                    <td>07/07/2023</td>
                    <td>07/07/2023</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>John</td>
                    <td>Carter</td>
                    <td>893245</td>
                    <td>johncarter@mail.com</td>
                    <td>10hr</td>
                    <td>Denied</td>
                    <td>Noida</td>
                    <td>03/07/2023</td>
                    <td>03/07/2023</td>
                </tr>                                       
            </tbody>
        </table>
    </div>
</div>